/*changes nav bar color to match logo font color*/
.bg-dark {
  background-color: #193678 !important;
}

/*used for search button color if implemented*/
.btn-outline-success {
  color: #dbb129;
  border-color: #dbb129;
}

/*used for jumbotron if implemented*/
.jumbotron {
  padding: 0rem 0rem;
  margin-bottom: 4rem;
  background-color: #fff;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 767px) {
.mobile-space {margin-top:5px;}
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

/*ensures cards are even*/
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.heading {
	font-size: 2rem;
}

.hover-animate {
	transition: all 0.2s ease-in-out;
}

.fa-location-arrow, .fa-phone, .fa-fax, .fa-envelope {
	color: goldenrod;
}

.fa-medkit {
	color: red;
}

.btn-bd-download {
	font-weight: 600;
	color: #ffe484;
	border-color: #ffe484;
}

.site-footer {
  background-color:#193678;
  padding:10px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#fff;
}

.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5;
}

.site-footer hr.small {
  margin:20px 0;
}

.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
}

.site-footer a {
  color:#fff;
}

.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}

.footer-links {
  padding-left:0;
  list-style:none;
}
.footer-links li {
  display:block;
}

.footer-links a {
  color:#8c9abb;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#fff;
  text-decoration:none;
}

.footer-links.inline li {
  display:inline-block;
}

.copyright-text {
  margin:0;
}
@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom:30px;
  }
}
@media (max-width:767px) {
  .site-footer {
    padding-bottom:0;
  }
  .site-footer .copyright-text,.site-footer {
    text-align:center;
  }
}


